:root {
    --ssGray: #5D5C61;
    --ssAqua: #379683;
    --ssBlueLight: #7395AE;
    --ssBlueDark: #557A95;
    --ssBeige: #B1A296;
    --ssWhite: #FFFFFF33;

}

body {
    background-color: var(--ssGray);
    margin: 0;
    min-height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.title {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size:x-large;
}

h1, h3 {
    padding: 10px;
}

.container {
    background-color: var(--ssAqua);
    padding: 50px;
    border-radius: 10px;
    border: 2px solid var(--ssBeige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerElement {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inputField {
    width: 40px;
}

.passwordOutput {
    background-color: var(--ssBlueDark);
    color: var(--ssBeige);
    padding: 15px;
    border: 3px solid var(--ssBeige);
    border-radius: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

label {
    font-weight: bold;
}

.generateButton {
    width: 300px;
    background-color: transparent;
    border: 3px solid var(--ssBeige);
    border-radius: 10px;
    color: white;
    padding: 5px 5px;
    font-weight: bold;
}

.generateButton:hover {
    color: black;
    box-shadow: 0 5px 15px var(--ssBeige);
    background-color: var(--ssWhite);
}